<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>View</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="assets/img/PSGiTech Logo.png">

  <!-- =======================================================
  * Template Name: TheEvent - v4.7.0
  * Template URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <style>
     .dropdown-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px; /* Increase space below the container */
        }
        .dropdown-container select {
          
            width: 200px; /* Increase the width of the dropdown boxes */
            margin-right: 20px; /* Increase spacing between dropdowns */
        }
        .dropdown-container1 select {
          
          /* Increase the width of the dropdown boxes */
          margin-right: 20px; /* Increase spacing between dropdowns */
      }
        .dropdown-title {
            margin-bottom: 10px; /* Add space below the title */
        }
        .radio-container {
            display: flex;
        }
        .radio-container input[type="radio"] {
            margin-right: 10px;
        }
    /* Style for the container */
.form-container {
    padding: 20px;
    width: 90%; /* Adjust width as needed */
    margin: 0 auto; /* Center the form horizontally */
    font-family: "Times New Roman", serif;
}

/* Style for dropdown titles */
.dropdown-title {
    margin-top: 10px;
}

/* Style for dropdown containers */
.dropdown-container, .dropdown-container1, .radio-container {
    margin-bottom: 10px;
}

/* Style for input fields */
input[type="text"], input[type="email"], input[type="date"], select, textarea {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

/* Style for radio buttons */
input[type="radio"] {
    margin-right: 5px;
}

/* Style for checkboxes */
input[type="checkbox"] {
    margin-right: 5px;
}

/* Style for the "Same as Communication Address" checkbox */
#reflectCheckbox {
    margin-top: 10px;
}

/* Style for the "Add Language" button */
#addLanguage {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

/* Style for the language groups */
.language-group {
    margin-bottom: 10px;
}

/* Style for remove language button */
.remove-language {
    margin-left: 5px;
    padding: 3px 5px;
    border: none;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

</style>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center header-inner ">
    <div class="container-fluid container-xxl d-flex align-items-center">

      <div id="logo" class="me-auto" style=" display: flex;justify-content: flex-start;gap: 10px;">
        <!-- Uncomment below if you prefer to use a text logo -->
        <img src="assets/img/psg_itech_lg.png" height="300px" width="auto" class="img-fluid" alt="Logo">

        
      </div>
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
            <li><a class="nav-link scrollto active" href="/recruitment">Home</a></li>
            <li><a class="nav-link scrollto" href="/recruitment/profile">Profile</a></li>
            <%if(user){%>
                <%if(user.accountType=="hr"){%>
                    <li><a class="nav-link scrollto" href="/recruitment/approval">HR Approval</a></li>
                <%}else if(user.accountType=="hod"){%>
                    <li><a class="nav-link scrollto" href="/recruitment/hodapproval">Hod Approval</a></li>
                <%}else if(user.accountType=="admin"){%>
                    <li><a class="nav-link scrollto" href="/recruitment/approval">HR Approval</a></li>
                    <li><a class="nav-link scrollto" href="/recruitment/hodapproval">Hod Approval</a></li>
                <%}%>
            <%}%>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>

        </nav>
        <%if(user){%> 
        <a class="buy-tickets scrollto" href="/recruitment/logout">Logout</a>

    <%}
    else{%>
        <a class="buy-tickets scrollto" href="/recruitment/login">Login</a>
    <%}%>
    </div>
  </header><!-- End Header -->
  <main id="main" class="main-page">

    <section id="speakers-details">
        <div class="form-container" >
            <div class="section-header">
            <h2>Application View</h2>
          </div>

                <div id="data" style="position: relative;">

                <div style="border: 2px solid black; padding: 5vw; ">
                    <center> <h1 style="font-weight: bold;">Resume:</h1></center>

                    <center><a style="color: red;" href="assets/pdf/<%-data.resume%>" target="_blank"><h4 style="font-weight: bold;text-align: left; color: red;">View Resume</h4></a></center>
                <br>
                    <h3 class="dropdown-title" style="text-indent: 3vw;"></h3>
               <center> <h1 style="font-weight: bold;">Personal Details:</h1></center>
              <h3 class="dropdown-title">Name:</h3>
              
              <h5 style="text-indent: 3vw;color: blue;"><%= user.name%></h5>
              <h3 class="dropdown-title">Gender:</h3>
              <h5 style="text-indent: 3vw;color: blue;"><%= user.gender%></h5>

            <h3 class="dropdown-title">Marital Status:</h3>
            <h5 style="text-indent: 3vw;color: blue;"><%= user.maritialstatus %></h5>

            <h3 class="dropdown-title">Father Name:</h3>
            <h5 style="text-indent: 3vw;color: blue;"><%= user.fathername %></h5>

            <h3 class="dropdown-title">Spouse Name:</h3>
            <h5 style="text-indent: 3vw;color: blue;"><%= user.spousename %></h5>

            <h3 class="dropdown-title">Date of Birth:</h3>
            <h5 style="text-indent: 3vw;color: blue;"><%= user.dob %></h5>

            <div>
              <h3>Contact Details</h3>
              <label for="mobile">Mobile No:</label><br>
              <h5 style="text-indent: 3vw;color: blue;"><%= user.mobile %></h5>
              
              <label for="email">Email Id:</label><br>
              <h5 style="text-indent: 3vw;color: blue;"><%= user.email %></h5>
              
            </div>
            
            <div>
             
                <label for="communicationAddress">Communication Address:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= user.caddr %></h5>
                

                <label for="permanentAddress">Permanent Address:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= user.paddr %></h5>
        
            </div>
            <h3 class="dropdown-title">Religion:</h3>
                <h5 style="text-indent: 3vw;color: blue;"><%= user.religion %></h5>
            
            
            <h3 class="dropdown-title">Community:</h3>
                <h5 style="text-indent: 3vw;color: blue;"><%= user.community %></h5>
            <h3 class="dropdown-title">Catogery:</h3>
            <h5 style="text-indent: 3vw;color: blue;"><%= user.category %></h5>

            <h3 class="dropdown-title">Mother tongue:</h3>
            <h5 style="text-indent: 3vw;color: blue;"><%= user.mothertongue %></h5>

            <h3 class="dropdown-title">LanguageKnown:</h3>
            <% user.languages.forEach(function(lang,i){%>
                <div>
                    <h5 style="text-indent: 3vw;color: black;">Language:</h5>
                    <h5 style="text-indent: 3vw;color: blue;"><%= lang.name %></h5>
                    <h5 style="text-indent: 3vw;color: black;">Ability:</h5>

                    <%if(lang.read){%>
                        <h6 style="text-indent: 5vw;color: blue;">Read</h5>
                    <%}%>
                    <%if(lang.speak){%>
                        <h6 style="text-indent: 5vw;color: blue;">Speak</h5>
                    <%}%>
                    <%if(lang.write){%>
                        <h6 style="text-indent: 5vw;color: blue;">Write</h5>
                    <%}%>
                    <br>
                </div>
                      
              <%});%>
          </div>
    </div>
    <br><br>
    <div style="border: 2px solid black; padding: 5vw; ">
        <center>
            <h1 style="font-weight: bold;">Applied For:</h1></center>
            <h3 class="dropdown-title">Position:</h3>
            <h5 style="text-indent: 3vw;color: blue;"><%= data.position %></h5>

                <h3 class="dropdown-title">Department:</h3>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.department %></h5>
            <br>
                <center>
                <h1 style="font-weight: bold;">Educational Qualifications/ Academic Background:</h1></center>
                <h3 class="dropdown-title">SSLC Qualification:</h3>
                <div>
                    <label for="school">School:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.school10 %></h5>
                    
                    <label for="yearOfCompletion">Year of Completion:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.you10 %></h5>
                    
                    <label for="marks">Marks:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.marks10 %></h5>
                    
                    <label for="modeOfStudy">Mode of Study:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.modeOfStudy10 %></h5>

                </div>
                <br>
                <h3 class="dropdown-title">+2 Qualification:</h3>
                <div>
                    <label for="Major Subject">Major Subject:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.majorsubject %></h5>

                    <label for="school">School:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.school12 %></h5>

                    
                    <label for="yearOfCompletion">Year of Completion:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.yoc12 %></h5>

                    <label for="marks">Marks:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.marks12 %></h5>

                    
                    <label for="modeOfStudy">Mode of Study:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.modeOfStudy12 %></h5>

                    
                </div>
                <br>
                <h3 class="dropdown-title">UG:</h3>
                <div>
                    <label for="Degree">Degree:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.degreeug %></h5>

                    <label for="college">College:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.collegeug %></h5>

                    <label for="yearOfCompletion">Year of Completion:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.yocug %></h5>

                    <label for="Percentage">Percentage:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.percentageug %></h5>

                    <label for="modeOfStudy">Mode of Study:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.modeOfStudyug %></h5>

                </div>
                <br>
                <h3 class="dropdown-title">PG:</h3>
                <div>
                    
                    <label for="Degree">Degree:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.degreepg %></h5>

                    <label for="college">College:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.collegepg %></h5>

                    <label for="yearOfCompletion">Year of Completion:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.yocpg %></h5>

                    <label for="Percentage">Percentage:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.percentagepg %></h5>

                    <label for="modeOfStudy">Mode of Study:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.modeOfStudypg %></h5>

                    </div>
                    <br>
                    <h3 class="dropdown-title">PhD:</h3>
                <div>
                    <label for="phdstatus">Status:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.phdstatus %></h5>

                    <label for="Major">Major:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.major %></h5>

                    <label for="University">University:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.university %></h5>

                    <label for="yearOfCompletion">Year of Completion:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.yocphd %></h5>

                    <label for="Percentage">Percentage:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.percentagephd %></h5>

                    <label for="modeOfStudy">Mode of Study:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.modeOfStudyphd %></h5>

                    </div>
                    <br>
                    <h3 class="dropdown-title">Others:</h3>
        
                    <div>
        
                    <label for="Others">Others:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.others %></h5>

                    <label for="college">College:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.collegeothers %></h5>

                    <label for="yearOfCompletion">Year of Completion:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.yocothers %></h5>

                    <label for="Percentage">Percentage:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.percentageothers %></h5>

                    <label for="modeOfStudy">Mode of Study:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.modeOfStudyOthers %></h5>

                    </div>
                    <br>
                    <div>
                    <label for="Special">Special achievements in academics, if any, such as Best Student, Gold medal, University Rank etc:</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.special %></h5>

            <br>
                    <label for="certificate">Certification Courses Completed, if any (such as NPTEL, Coursera..):</label><br>
                    <h5 style="text-indent: 3vw;color: blue;"><%= data.certificate %></h5>

                    </div>
                    <br>
                    <h3>UG Arrear Details</h3>
                    <div>
                <label for="totalPapers">Total Number of Papers:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.totalpapersug %></h5>

                
                <label for="totalAttempts">Total Number of Attempts:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.totalattemptsug %></h5>

                
                    </div>
                <br>
                    <h3>PG Arrear Details</h3>
                    <div>
                <label for="totalPapers">Total Number of Papers:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.totalpaperspg %></h5>

                
                <label for="totalAttempts">Total Number of Attempts:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.totalattemptspg %></h5>

                
                    </div>
                </div>
                <br><br>
                <%if(data.guideshipnumber){%>
                <div style="border: 2px solid black; padding: 5vw; ">
                    <center><h1 style="font-weight: bold;">Ph.D. Guideship Details</h1></center>
        
                  <h2></h2>
                  <div>
                    
                <label for="guideshipNumber">Guideship Number:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.guideshipnumber %></h5>

                <label for="university">University:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.universityphdg %></h5>

                <label for="numScholarsRegistered">Number of Ph.D. Scholars Registered:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.numschregistered %></h5>

                <label for="numThesisSubmitted">Number of Ph.D. Scholars (Thesis Submitted, if any):</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.numthesissubmitted %></h5>

                <label for="numScholarsCompleted">Number of Ph.D. Scholars Completed:</label><br>
                <h5 style="text-indent: 3vw;color: blue;"><%= data.numscholarscompleted %></h5>

                  </div>
                  <br>
                  <%if(data.paperdata){%>
                  <h2>Publication Details</h2>
                  <div>
                    
                    <% data.paperdata.forEach(function(pap,i){%>
                        <div>
                            <h5>Publication - <%= i+1%></h5>

                                <label for="Publisher${publicationCount}">Publisher:</label><br>
                                <h5 style="text-indent: 3vw;color: blue;"><%= pap.Publisher %></h5>
        
                                <label for="Title${publicationCount}">Title:</label><br>
                                <h5 style="text-indent: 3vw;color: blue;"><%= pap.Title %></h5>
        
                                <label for="coAuthors${publicationCount}">Co-authors:</label><br>
                                <h5 style="text-indent: 3vw;color: blue;"><%= pap.coAuthors %></h5>
        
                                <label for="year${publicationCount}">Year of Publication:</label><br>
                                <h5 style="text-indent: 3vw;color: blue;"><%= pap.year %></h5>   <br>                         
                        </div>
                              
                      <%});%>
                    <%}%>
                      </div>
                      <br>
                  </div>
              
                 
                <br><br><%}%>

                <%if(data.scopus){%>
                <div style="border: 2px solid black; padding: 5vw; ">
                <center><h1 style="font-weight: bold;">Journals</h1></center>
                <h2>Journal Papers(published (in reputed, referred Journals, Numbers ONLY))</h2>
                <div>
                    <div id="Journals">
                        <label for="scopus">Number of Scopus:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.scopus %></h5>

                        <label for="WebofScience">Number of Web of Science:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.WebofScience %></h5>

                        <label for="AnyOther">Any Other:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.AnyOther %></h5>

                        <label for="hindex">H index:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.hindex %></h5>

                        <label for="Citations">Number of Citations:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.Citations %></h5>

                        <label for="ScopusURL">Scopus URL:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.ScopusURL %></h5>

                        <label for="orcidid">ORCID ID:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.orcidid %></h5>

                        <label for="googlescholarlink">Google Scholar Link:</label><br>
                        <h5 style="text-indent: 3vw;color: blue;"><%= data.googlescholarlink %></h5>

                    </div>        
                </div>
              </div>
              <br><br><%}%>
        <div style="border: 2px solid black; padding: 5vw; ">
          <center><h1 style="font-weight: bold;">Work Experience</h1></center>
          <div> 
        <div id="workExperiences">
            <% data.workexperience.forEach(function(work,i){%>
                <div>
                    <h5>Work Experience - <%= i+1%></h5>
                    <label for="institutionName${experienceCount}">Institution Name:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= work.institutionName %></h5>

                    <label for="institutionAddress${experienceCount}">Address of the Institution:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= work.institutionAddress %></h5>

                    <label for="designation${experienceCount}">Designation:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= work.designation %></h5>

                    <label for="certificateAvailable">Service Certificate Available:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= work.certificateAvailable %></h5>

                    <label for="reasonForLeaving${experienceCount}">Reason for Leaving:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= work.reasonForLeaving %></h5>

                    <label for="fromDate${experienceCount}">From:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= work.fromDate %></h5>

                    <label for="toDate${experienceCount}">To:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= work.toDate %></h5>
                    <br>
    
                </div>
                      
              <%});%>
           
        </div>
        
          <label for="Total number of years experience:">Total number of years experience:</label>
          <h5 style="text-indent: 3vw;color: blue;"><%= data.yoexp %></h5>

          </div>
          </div>
          <br><br> <%if(data.researchproject){%>
          <div style="border: 2px solid black; padding: 5vw; ">
            <center><h1 style="font-weight: bold;">Research Projects</h1></center>
          <div>            
                <div id="researchProjects">
                   
                    <% data.researchproject.forEach(function(pro,i){%>
                        <div>
                            <h5>Research Project - <%= i+1%></h5>
                            <label for="projectTitle${projectCount}">Title of the Project:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= pro.projectTitle %></h5>

                            <label for="agency${projectCount}">Agency/Scheme:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= pro.agency %></h5>

                            <label for="sanctionedDate${projectCount}">Sanctioned Date:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= pro.sanctionedDate %></h5>

                            <label for="period${projectCount}">Period:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= pro.period %></h5>

                            <label for="sanctionedAmount${projectCount}">Sanctioned Amount:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= pro.sanctionedAmount %></h5>

                            <label for="statuspro">Status:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= pro.statuspro %></h5>

                            <br>
            
                        </div>
                              
                      <%});%>
                    
          </div>
          </div>
          </div><br><br><%}%>
          <%if(data.patents){%>
          <div style="border: 2px solid black; padding: 5vw; ">
            <center><h1 style="font-weight: bold;">Patents</h1></center>

          <div>
        <div id="patents">
            <% data.patent.forEach(function(pat,i){%>
                <div>
                    <h5>Patent - <%= i+1%></h5>
                    <label for="inventors${patentCount}">Name of the Inventors:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= pat.inventors %></h5>

                    <label for="title${patentCount}">Title:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= pat.title %></h5>

                    <label for="applicationNumber${patentCount}">Application Number:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= pat.applicationNumber %></h5>

                    <label for="dateOfFiling${patentCount}">Date of Filing:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= pat.dateOfFiling %></h5>

                    <label for="filedBy${patentCount}">Filed By:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= pat.filedBy %></h5>

                    <label for="statuspat">Status:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= pat.statuspat %></h5>
                    
                    <label for="statusDate${patentCount}">Date:</label>
                    <h5 style="text-indent: 3vw;color: blue;"><%= pat.statusDate %></h5>

                    <br>
    
                </div>
                      
              <%});%>
        
          </div>
        </div>
          </div><br><br>    <%}%>          
          
          <div style="border: 2px solid black; padding: 5vw; ">
            <center><h1 style="font-weight: bold;">References</h1></center>

          <div>
                <div id="references">
                    <% data.reference.forEach(function(ref,i){%>
                        <div>
                            <h5>Reference - <%= i+1%></h5>

                            <label for="name${referenceCount}">Name:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= ref.name %></h5>

                            <label for="designation${referenceCount}">Designation:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= ref.designationref %></h5>

                            <label for="organization${referenceCount}">Organization:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= ref.organization %></h5>

                            <label for="mobile${referenceCount}">Mobile No.:</label>
                            <h5 style="text-indent: 3vw;color: blue;"><%= ref.mobile %></h5>

                            <br>
                        </div>
                      <%});%>
                </div>
          </div>
          </div>
          <br><br>
          <div style="border: 2px solid black; padding: 5vw; ">
            <center><h1 style="font-weight: bold;">Salary and Timing details</h1></center>

          <div>
            <label for="lastPay">Last Drawn Monthly Pay (Rs.):</label>
        <h5 style="text-indent: 3vw;color: blue;"><%= data.lastPay %></h5>

        <label for="expectedPay">Pay Expected, if Selected (Rs.):</label>
        <h5 style="text-indent: 3vw;color: blue;"><%= data.expectedPay %></h5>

        <label for="joiningTime">Joining Time Required, if Selected:</label>
        <h5 style="text-indent: 3vw;color: blue;"><%= data.joiningTime %></h5>

          </div>
          <br>
          <div>
            
            <h2 for="learnedFrom">I came to know about the vacancy through:</h2>
            <h5 style="text-indent: 3vw;color: blue;"><%= data.learnedFrom %></h5>

          </div>
          <br>
          <div>                
                <h3>In case of Close Relatives/Known Persons employed in PSG Institutions</h3>
                <div>
                    <div>
                        <div id="relatives">
                            <% data.relative.forEach(function(rel,i){%>
                                <div>
                                    <h5>Relative - <%= i+1%></h5>
                                    <label for="relativeName${relativeCount}">Name:</label>
                                    <h5 style="text-indent: 3vw;color: blue;"><%= rel.relativeName %></h5>

                                    <label for="relationship${relativeCount}">Relationship:</label>
                                    <h5 style="text-indent: 3vw;color: blue;"><%= rel.relationship %></h5>

                                    <label for="institution${relativeCount}">Institution:</label>
                                    <h5 style="text-indent: 3vw;color: blue;"><%= rel.institution %></h5>

                                    <label for="designation${relativeCount}">Designation:</label>
                                    <h5 style="text-indent: 3vw;color: blue;"><%= rel.designationrel %></h5>

                                    <br>
                                </div>
                              <%});%>
                            </div>
                  </div>
          </div>
          <center>
          <div class="form-group m-0">
            <button
                class="btn btn-primary btn-block"
                id="buttonsub"
                onclick='window.location.href="/recruitment/profile"'
            >
            Back            
            </button>
        </div></center>
        </div>
    </div>
    

    
        </div>
  
      </section>
  </main><!-- End #main -->

  <footer id="footer" style="position: fixed;bottom: 0;width: 100%;">
    

    <div class="container" >
      
      <div class="credits">
        
      
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>